.image-one {
    width: 100%;
    height: 100vh;

    background-image: url("https://m.media-amazon.com/images/I/71Ls2qvxPjL.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-two {
    width: 100%;
    height: 100vh;

    background-image: url("https://preview.redd.it/so-i-made-flower-boy-album-cover-a-little-bit-wider-for-pc-v0-3ax4l35rbp861.png?width=1920&format=png&auto=webp&s=c511c58208ba66ea26fc682477796345e3c90355");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.black-block {
    width: 100%;
    height: 100vh;

    color : white;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}